/* wocommerce */

/* Default btn */
.ac-btn, input[type=submit], input[type=reset], input[type=button], button,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce input[type=submit].button,
.woocommerce #respond input#submit,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt {
    display: inline-block;
    border-radius: 4px;
    /*line-height: 1;*/
    padding: 0 0.778em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #e91e63;
}

.ac-btn:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover, button:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce input[type=submit].button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit:disabled:hover, .woocommerce #respond input#submit:disabled[disabled]:hover, .woocommerce a.button.disabled:hover, .woocommerce a.button:disabled:hover, .woocommerce a.button:disabled[disabled]:hover, .woocommerce button.button.disabled:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover, .woocommerce input.button.disabled:hover, .woocommerce input.button:disabled:hover, .woocommerce input.button:disabled[disabled]:hover,
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
    background-color: #980336;
    color: #ffffff;
}
.ac-btn:focus, input[type=submit]:focus, 
input[type=reset]:focus, input[type=button]:focus, button:focus,
.woocommerce a.button:focus,
.woocommerce button.button:focus,
.woocommerce input.button:focus,
.woocommerce input[type=submit].button:focus,
.woocommerce #respond input#submit:focus,
.woocommerce a.button.alt:focus,
.woocommerce button.button.alt:focus,
.woocommerce input.button.alt:focus,
.woocommerce #respond input#submit.alt:focus,
.ac-btn:active, input[type=submit]:active, input[type=reset]:active, input[type=button]:focus, button:active,
.woocommerce a.button:active,
.woocommerce button.button:active,
.woocommerce input.button:active,
.woocommerce input[type=submit].button:active,
.woocommerce #respond input#submit:active,
.woocommerce a.button.alt:active,
.woocommerce button.button.alt:active,
.woocommerce input.button.alt:active,
.woocommerce #respond input#submit.alt:active {
    background-color: #e91e63;
    color: #ffffff;
    outline: none;
}

.woocommerce table.shop_table th, .woocommerce table.shop_table td {
    padding: 20px 10px;
}

.woocommerce-page table.cart td.actions .coupon{
    display: grid;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    padding: 0.650rem 1rem;
    margin: 0 0 15px;
    width: 100%;
    border-radius: 0;
}

.woocommerce button.button:disabled[disabled]{
    padding: 0 0.875em;
}

.woocommerce .woocommerce-ordering select {
    border: 1px solid #333;
    color: #000 ;
    display: block;
    padding: 0.825rem 1rem;
}

.woocommerce .woocommerce-ordering select option{
    background: #fff;
    color: #000;
}

.woocommerce nav.woocommerce-pagination{
    display: flex;
    justify-content: center;
}

.woocommerce nav.woocommerce-pagination ul{
    display: inherit;
}

.woocommerce nav.woocommerce-pagination ul li{
    overflow: inherit;
}

.woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li {
    border: none;
}

.woocommerce nav.woocommerce-pagination ul li a {
    cursor: pointer;
    display: inline-block;
    line-height: 12px;
    font-weight: 600;
    font-size: 1.125rem;
    border-radius: 0px;
    vertical-align: baseline;
    white-space: nowrap;
    width: 2.125rem;
    height: 2.125rem;
    border: 1px solid #d7d7d7;
    margin: 0 5px;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #fff;
}

.woocommerce nav.woocommerce-pagination ul li span {
    display: inline-block;
    line-height: 12px;
    font-weight: 600;
    font-size: 1.125rem;
    border-radius: 0px;
    vertical-align: baseline;
    white-space: nowrap;
    width: 2.125rem;
    height: 2.125rem;
    border: 1px solid #d7d7d7;
    margin: 0 5px;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #fff;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span.current{
    color: #fff;
    background-color: #e91e63;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.woocommerce form .form-row .woocommerce-input-wrapper {
    width: 100%;
}

.woocommerce input[type="text"], 
.woocommerce input[type="tel"],
.woocommerce input[type="email"],
.woocommerce input[type="password"],
.woocommerce textarea
{
    background-color: #fff ;
    border: 1px solid #333 !important;
    color: #666 !important;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    display: block;
    padding: 0.825rem 1rem;
    width: 100%;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.woocommerce form .form-row label {
    width: 100%;
}

.woocommerce form .form-row span.select2-selection.select2-selection--single {
    border: 1px solid #333 !important;
    padding: 0.825rem 1rem;
    height: 50px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
    right: 5px;
}

.woocommerce-page .checkout.woocommerce-checkout .col2-set {
    margin-bottom: 30px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
 .select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: #e91e63;
    color: #fff;
}

.woocommerce table.shop_table {
    border: 1px solid #333;
    border-collapse: collapse;
}

.woocommerce-checkout-payment ul li::marker{
    color: transparent;
}

.woocommerce-MyAccount-content fieldset{
    margin-bottom: 1em;
}

.woocommerce form .show-password-input, .woocommerce-page form .show-password-input {
    top: 1.2em;
}

/* woocommerce widgets */
.widget_product_categories li,
.woocommerce-widget-layered-nav li{
    padding-bottom: 15px !important;
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px dashed #d7d7d7;
    text-transform: capitalize;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
}

.widget_product_categories li span,
.woocommerce-widget-layered-nav li span{
    float: right;
}

.widget_product_search .woocommerce-product-search{
    display: flex;
}

.woocommerce-product-search .search-field{
    width: 100%;
    height: 60px;
    line-height: 50px;
    border-radius: 0;
    padding: 0 9px;
    margin-bottom: 0;
}

.widget_product_search .woocommerce-product-search button[type="submit"]{
    padding: 1em 2em;
    cursor: pointer;
    border: none;
    border-radius: 0;
    max-width: 100%;
    background-color: #e91e63;
    color: #fff;
}

.widget_product_search .woocommerce-product-search button[type="submit"]{
    float: left;
    width: 60px;
    height: 60px;
    margin-bottom: 0;
    position: relative;
    font-size: 1.33em;
    line-height: 55px;
    z-index: 1;
    background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23fff" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: 60px;
    overflow: hidden;
}

.woocommerce .star-rating {
    color: #ff9919;
}

/* Default btn sizes */
.btn-biggest, .btn-big, .btn-small, input[type=submit], input[type=reset], input[type=button], button,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce input[type=submit].button,
.woocommerce #respond input#submit,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt {
    font-size: 0.889em;
    letter-spacing: 0.06em;
}
.btn-biggest {
    line-height: 3.750em;
}
.btn-big, input[type=submit], input[type=reset], input[type=button], button,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit {
    line-height: 3.375em;
}
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt {
    line-height: 3.225em !important;
}
.btn-small, .btn-smallest,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit {
    padding: 0 0.875em;
}
.btn-small,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce input[type=submit].button,
.woocommerce #respond input#submit,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt {
    line-height: 2.55em !important;
    letter-spacing: 0.06em;
}